:root{
  --COLOR-BACKGROUND: #332354;
  --COLOR-PRIMARY-200: #6615EB;
  --COLOR-PRIMARY: #794AFF;
  --COLOR-SECONDARY: #CE48A9;
  --COLOR-TEXT-PRIMARY: #FFF;
  --COLOR-TEXT-SECONDARY: #bebdbd52;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-color: var(--COLOR-BACKGROUND);
}


.container{
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}