@import "../App.css";

.home__hero-section{
    margin-top: 100px;
}

.home__hero-section-tumi{
    font-size:1.7rem;
    color: var(--COLOR-TEXT-SECONDARY);
    padding: 26px 0;
    font-family: 'Dancing Script', cursive;
}

.home__hero-details{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-inline: 6em;
}

.home__hero-section-slogan{
    color: rgb(170, 169, 169);
    max-width: 480px;
    font-size: 1.2rem;
    margin-bottom: 4em;
}



.home__hero-button{
  color: var(--COLOR-TEXT-PRIMARY);
  border: 1px solid var(--COLOR-PRIMARY-200);
  padding: 1.3em 2.5em;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.home__hero-button:before,
.home__hero-button:after{
    position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background:  var(--COLOR-SECONDARY);
  z-index: -1;
  transition: all .35s
}

.home__hero-button:before{
    opacity: 0.5;
}

.home__hero-button:after{
    transition-delay: .2s;
}

.home__hero-button:hover{
    color: var(--COLOR-TEXT-PRIMARY);
}

.home__hero-button:hover:before,
.home__hero-button:hover:after{
  top: 0;
}
.home__hero-section-text{
    background-image: linear-gradient(-60deg ,var(--COLOR-PRIMARY-200), var(--COLOR-SECONDARY), var(--COLOR-PRIMARY));
    background-clip: text;
    color: transparent;
    background-size: 300%;
    animation: title-animate 5s ease-in-out infinite;
    margin-top: 10px;
    font-size: 4.8rem;
    max-width: 770px;
}

.home__hero-section-scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-text{
    color: var(--COLOR-TEXT-PRIMARY);
    margin-bottom: 0.4em;
}
.home__hero-section-scroll{
    position: absolute;
    right: 30px;
    top: 500px;
}

.scroll-text{
    transform: rotate(90deg);
}

.scroll-text{
    animation: Move 1s linear infinite;
    position: absolute;
    bottom: 102px;
}

.home__skills{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0 36px;
}

.home__skills-heading{
    font-size: 1.9rem;
    text-align: center;
    color: var(--COLOR-TEXT-PRIMARY);
}
.home__skills-description{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 20px;
    color: rgb(170, 169, 169);
}
.home__skills-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__skills-bottom,
.home__skills-top{
    display: flex;
}

.project-title{
    color: var(--COLOR-TEXT-PRIMARY);
    text-align: center;
    margin-bottom: 80px;
}

@keyframes title-animate{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@keyframes Move{
    0%, 100% {
        bottom: 80px;
      }
      50% {
        bottom: 102px;
    }
}