@import "../App.css";

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.7em;
}
.socials{
    position: fixed;
    left: 30px;
    top: 320px;
}

.socials__stroke{
    margin-right: 1.1em;
}

.socials__links{
    margin: 0.8em 0.4em 0.8em 0;
    transform: scale(0.8);
    color: var(--COLOR-TEXT-PRIMARY);
}